<mat-card class="custom-card" style="min-height: 70vh" id="users-form">
  <mat-card-header class="custom-header-main">
    <mat-card-title style="width: 100%">
      <h4>
        Preencha o seu CEP que iremos verificar os planos disponíveis para sua
        localidade.
      </h4>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="form">
      <div class="input-container">
        <div class="type-form">
          <div>Tipo de pessoa *</div>
          <div>O serviço selecionado está disponível apenas para:</div>
          <radio-comp
            [label]="'Pessoa Fisica'"
            formControlName="tipo_pessoa"
          ></radio-comp>
        </div>

        <input-comp
          [label]="'Nome'"
          [formControlName]="'nome'"
          [control]="form.controls['nome']"
          [required]="true"
        ></input-comp>

        <input-comp
          [label]="'CPF'"
          [formControlName]="'cpf'"
          [control]="form.controls['cpf']"
          [mask]="cpfMask"
        ></input-comp>

        <input-comp
          [label]="'RG'"
          [formControlName]="'rg'"
          [control]="form.controls['rg']"
        ></input-comp>

        <date-comp
          [label]="'Data de Nascimento'"
          [formControlName]="'data_nascimento'"
          [control]="form.controls['data_nascimento']"
        ></date-comp>

        <input-comp
          [label]="'Telefone'"
          [formControlName]="'telefone'"
          [control]="form.controls['telefone']"
          [required]="true"
          [mask]="phoneMask"
        ></input-comp>

        <input-comp
          [label]="'Telefone Secundário'"
          [formControlName]="'telefone_secundario'"
          [control]="form.controls['telefone_secundario']"
          [required]="true"
          [mask]="phoneMask"
        ></input-comp>

        <input-comp
          [label]="'Email'"
          [formControlName]="'email'"
          [control]="form.controls['email']"
        ></input-comp>

        <div formGroupName="endereco_cep" class="input-container">
          <input-comp
            [label]="'CEP'"
            [formControlName]="'cep'"
            [control]="form.get('endereco_cep.cep')"
            [isReadOnly]="true"
            [col]="2"
          ></input-comp>

          <input-comp
            [label]="'Estado'"
            [formControlName]="'estado'"
            [control]="form.get('endereco_cep.estado')"
            [isReadOnly]="true"
            [col]="2"
          ></input-comp>

          <input-comp
            [label]="'Cidade'"
            [formControlName]="'cidade'"
            [control]="form.get('endereco_cep.cidade')"
            [isReadOnly]="true"
            [col]="3"
          ></input-comp>

          <input-comp
            [label]="'Bairro'"
            [formControlName]="'bairro'"
            [control]="form.get('endereco_cep.bairro')"
            [isReadOnly]="true"
            [col]="2"
          ></input-comp>

          <input-comp
            [label]="'Rua'"
            [formControlName]="'rua'"
            [control]="form.get('endereco_cep.rua')"
            [isReadOnly]="true"
            [col]="3"
          ></input-comp>

          <input-comp
            [label]="'Numero'"
            [formControlName]="'numero'"
            [control]="form.get('endereco_cep.numero')"
            type="number"
            [required]="true"
            [col]="2"
          ></input-comp>

          <input-comp
            [label]="'Complemento'"
            [formControlName]="'complemento'"
            [control]="form.get('endereco_cep.complemento')"
            [col]="4"
          ></input-comp>

          <input-comp
            [label]="'Referência'"
            [formControlName]="'referencia'"
            [control]="form.get('endereco_cep.referencia')"
          ></input-comp>
        </div>

        <input-comp
          [label]="'Nome do Pai'"
          [formControlName]="'nome_pai'"
          [control]="form.controls['nome_pai']"
        ></input-comp>

        <input-comp
          [label]="'Nome da Mãe'"
          [formControlName]="'nome_mae'"
          [control]="form.controls['nome_mae']"
        ></input-comp>

        <select-comp
          [label]="'Estado Cívil'"
          [formControlName]="'estado_civil'"
          [control]="form.controls['estado_civil']"
          [options]="estadoCivilOptions"
        ></select-comp>

        <select-comp
          [label]="'Gênero'"
          [formControlName]="'genero'"
          [control]="form.controls['genero']"
          [options]="generosOptions"
        ></select-comp>

        <select-comp
          [label]="'Nacionalidade'"
          [formControlName]="'nacionalidade'"
          [control]="form.controls['nacionalidade']"
          [options]="nacionalidadeOptions"
        ></select-comp>

        <input-comp
          [label]="'Profissão'"
          [formControlName]="'profissao'"
          [control]="form.controls['profissao']"
        ></input-comp>

        <select-comp
          [label]="'Vendedor'"
          [formControlName]="'vendedor'"
          [control]="form.controls['vendedor']"
          [options]="vendedoresOptions"
        ></select-comp>

        <select-comp
          [label]="'Dia de Vencimento'"
          [formControlName]="'dia_vencimento'"
          [control]="form.controls['dia_vencimento']"
          [options]="diasVencimentoOptions"
        ></select-comp>

        <input-comp
          [label]="'Observação'"
          [formControlName]="'observacao'"
          [control]="form.controls['observacao']"
        ></input-comp>

        <button-custom
          [buttonType]="'warn'"
          [text]="'SALVAR'"
          (buttonClick)="submit()"
        ></button-custom>
      </div>
    </form>
  </mat-card-content>
</mat-card>
