<mat-card class="custom-form-user">
  <mat-card-header>
    <mat-card-title>Dados Pessoais</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="form">
      <mat-grid-list cols="12" rowHeight="100px">
        <mat-grid-tile colspan="4" rowspan="1">
          <mat-form-field
            appearance="fill"
            [hideRequiredMarker]="false"
            floatLabel="always"
            class="custom-input"
          >
            <mat-label>Nome completo</mat-label>
            <input matInput formControlName="nome" />
            <mat-error *ngIf="form.controls['nome'].errors?.['required']"
              >Campo obrigatório</mat-error
            >
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="4" rowspan="1">
          <mat-form-field
            appearance="fill"
            [hideRequiredMarker]="false"
            floatLabel="always"
            class="custom-input"
          >
            <mat-label>CPF</mat-label>
            <input
              matInput
              formControlName="cpf"
              required
              [textMask]="{ mask: cpfMask }"
            />
            <mat-error *ngIf="form.controls['cpf'].errors?.['required']"
              >Campo obrigatório</mat-error
            >
            <mat-error *ngIf="form.controls['cpf'].errors?.['pattern']">
              O CPF deve ter 11 dígitos.
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="4" rowspan="1">
          <mat-form-field
            appearance="fill"
            [hideRequiredMarker]="false"
            floatLabel="always"
            class="custom-input"
          >
            <mat-label>RG</mat-label>
            <input
              matInput
              formControlName="rg"
            />
            <mat-error *ngIf="form.controls['rg'].errors?.['required']"
              >Campo obrigatório
            </mat-error>
            <mat-error *ngIf="form.controls['rg'].errors?.['pattern']">
              O RG deve ter 12 dígitos.
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="4" rowspan="1">
          <mat-form-field
            appearance="fill"
            [hideRequiredMarker]="false"
            floatLabel="always"
            class="custom-input"
          >
            <mat-label>Data de nascimento</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="data_nascimento"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="4" rowspan="1">
          <mat-form-field
            appearance="fill"
            [hideRequiredMarker]="false"
            floatLabel="always"
            class="custom-input"
          >
            <mat-label>Telefone</mat-label>
            <input
              matInput
              formControlName="telefone"
              [textMask]="{ mask: phoneMask }"
            />
            <mat-error *ngIf="form.controls['telefone'].errors?.['required']"
              >Campo obrigatório</mat-error
            >
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="4" rowspan="1">
          <mat-form-field
            appearance="fill"
            [hideRequiredMarker]="false"
            floatLabel="always"
            class="custom-input"
          >
            <mat-label>E-mail</mat-label>
            <input matInput formControlName="email" />
            <mat-error *ngIf="form.controls['email'].errors?.['email']"
              >E-mail inválido</mat-error
            >
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="4" rowspan="1">
          <mat-form-field
            appearance="fill"
            [hideRequiredMarker]="false"
            floatLabel="always"
            class="custom-input"
          >
            <mat-label>Endereço</mat-label>
            <input matInput formControlName="endereco" />
            <mat-error *ngIf="form.controls['endereco'].errors?.['required']"
              >Campo obrigatório</mat-error
            >
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="4" rowspan="1">
          <mat-form-field
            appearance="fill"
            [hideRequiredMarker]="false"
            floatLabel="always"
            class="custom-input"
          >
            <mat-label>Bairro</mat-label>
            <input matInput formControlName="bairro" />
            <mat-error *ngIf="form.controls['bairro'].errors?.['required']"
              >Campo obrigatório</mat-error
            >
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="4" rowspan="1">
          <mat-form-field
            appearance="fill"
            [hideRequiredMarker]="false"
            floatLabel="always"
            class="custom-input"
          >
            <mat-label>Número</mat-label>
            <input type="number" matInput formControlName="numero" />
            <mat-error *ngIf="form.controls['numero'].errors?.['required']"
              >Campo obrigatório</mat-error
            >
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="4" rowspan="1">
          <mat-form-field
            appearance="fill"
            [hideRequiredMarker]="false"
            floatLabel="always"
            class="custom-input"
          >
            <mat-label>Complemento</mat-label>
            <input matInput formControlName="complemento" />
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="4" rowspan="1">
          <mat-form-field
            appearance="fill"
            [hideRequiredMarker]="false"
            floatLabel="always"
            class="custom-input"
          >
            <mat-label>Referência</mat-label>
            <input matInput formControlName="referencia" />
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="4" rowspan="1">
          <mat-form-field
            appearance="fill"
            [hideRequiredMarker]="false"
            floatLabel="always"
            class="custom-input"
          >
            <mat-label>Nome do pai</mat-label>
            <input matInput formControlName="nome_pai" />
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="4" rowspan="1">
          <mat-form-field
            appearance="fill"
            [hideRequiredMarker]="false"
            floatLabel="always"
            class="custom-input"
          >
            <mat-label>Nome da mãe</mat-label>
            <input matInput formControlName="nome" />
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="4" rowspan="1">
          <mat-form-field
            appearance="fill"
            [hideRequiredMarker]="false"
            floatLabel="always"
            class="custom-input"
          >
            <mat-label>Estado Civil</mat-label>
            <mat-select formControlName="estado_civil">
              <mat-option value="Solteiro">Solteiro</mat-option>
              <mat-option value="Casado">Casado</mat-option>
              <mat-option value="Divorciado">Divorciado</mat-option>
              <mat-option value="Viúvo">Viúvo</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="4" rowspan="1">
          <mat-form-field
            appearance="fill"
            [hideRequiredMarker]="false"
            floatLabel="always"
            class="custom-input"
          >
            <mat-label>Gênero</mat-label>
            <mat-select formControlName="genero">
              <mat-option value="masculino">Masculino</mat-option>
              <mat-option value="feminino">Feminino</mat-option>
              <mat-option value="nao-binario">Não binário</mat-option>
              <mat-option value="outro">Outro</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="4" rowspan="1">
          <mat-form-field
            appearance="fill"
            [hideRequiredMarker]="false"
            floatLabel="always"
            class="custom-input"
          >
            <mat-label>Vendedor</mat-label>
            <mat-select formControlName="vendedor">
              <mat-option
                *ngFor="let vendedor of vendedores"
                [value]="vendedor.id"
                >{{ vendedor.nome }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="4" rowspan="1">
          <mat-form-field
            appearance="fill"
            [hideRequiredMarker]="false"
            floatLabel="always"
            class="custom-input"
          >
            <mat-label>Observação</mat-label>
            <input matInput formControlName="observacao" />
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="4" rowspan="1">
          <mat-form-field
            appearance="fill"
            [hideRequiredMarker]="false"
            floatLabel="always"
            class="custom-input"
          >
            <mat-label>Nacionalidade</mat-label>
            <mat-select formControlName="nacionalidade">
              <mat-option value="Brasileira">Brasileira</mat-option>
              <mat-option value="Americana">Americana</mat-option>
              <mat-option value="Inglesa">Inglesa</mat-option>
              <mat-option value="Alemã">Alemã</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="4" rowspan="1">
          <mat-form-field
            appearance="fill"
            [hideRequiredMarker]="false"
            floatLabel="always"
            class="custom-input"
          >
            <mat-label>Profissão</mat-label>
            <input matInput formControlName="profissao" />
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="4" rowspan="1">
          <mat-form-field
            appearance="fill"
            [hideRequiredMarker]="false"
            floatLabel="always"
            class="custom-input"
          >
            <mat-label>Dia de vencimento</mat-label>
            <mat-select formControlName="dia_vencimento">
              <mat-option *ngFor="let dia of dias" [value]="dia.vencimento">{{
                dia.vencimento
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="12" rowspan="1">
          <button-custom [buttonType]="'warn'" [text]="'SALVAR'" (buttonClick)="submit()"></button-custom>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
  </mat-card-content>
</mat-card>

