.ellipsis-dot {
  white-space: nowrap;
    width: calc(90% + 2px);
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px !important;
    color: #999999 !important;
}

.custom-subtitle {
  height: 50px !important;
  display: flex;
  align-items: center;
  margin: 0px 10px;
  justify-content: end;

  font-size: 14px;
  line-height: 1.42857;
  color: #AAAAAA;
  font-weight: 400;
}


